@import '../../../core';

.cases-agency {
    &-section {
        padding: 4rem 0;

        @include minw($sm-tab) {
            padding: 10rem 0;
        }

        @include minw($lg-tab) {
            padding: 2.8rem 0 8rem 0;
        }

        @include minw($pc) {
            padding: 20rem 0 12rem 0;
        }

        @include minw($xl) {
            padding: 17.6rem 0 17.6rem 0;
        }

        .container {
            @include minw($xl) {
                padding-left: 25rem;
                padding-right: 25rem;
            }
        }
    }

    & {
        &__info {
            @include minw($lg-tab) {
                display: flex;
                gap: 1rem;
                align-items: flex-end;
            }

            @include minw($pc) {
                gap: unset;
                justify-content: space-between;
            }

            &-desc {
                max-width: 48.3rem;

                @include minw($pc) {
                    max-width: 70rem;
                }

                &__title {
                    display: block;
                    font-family: $sentient-bold;
                    font-size: 2.6rem;
                    line-height: 3.8rem;
                    color: var(--text-primary);

                    @include minw($sm-tab) {
                        font-size: 5.6rem;
                        line-height: 6.4rem;
                    }

                    @include minw($lg-tab) {
                        font-size: 4.8rem;
                        line-height: 5.6rem;
                    }
                }

                &__subtitle {
                    display: block;
                    font-family: $apercu-pro-regular;
                    font-size: 1.8rem;
                    line-height: 3.2rem;
                    color: var(--text-primary);
                    margin-top: 1rem;
                    margin-bottom: 2rem;

                    @include minw($sm-tab) {
                        font-size: 3.2rem;
                        line-height: 4.8rem;
                        margin-top: 2rem;
                        margin-bottom: 4rem;
                    }

                    @include minw($lg-tab) {
                        font-size: 2.4rem;
                        line-height: 3.8rem;
                    }

                    @include minw($pc) {
                        font-size: 3.2rem;
                        line-height: 4.8rem;
                    }
                }

                .btn-arrow {
                    display: inline-flex;

                    span {
                        font-size: 2rem;
                        line-height: 2.4rem;
                        color: #085BA7;

                        @include minw($sm-tab) {
                            font-size: 2.8rem;
                            line-height: 3.2rem;
                        }
                    }

                    svg {
                        stroke: #085BA7;
                        margin-left: 0.6rem;
                        width: 2rem;
                        height: 1.1rem;

                        @include minw($sm-tab) {
                            margin-left: 1.8rem;
                            width: 5.8rem;
                            height: 3.2rem;
                        }
                    }

                    &:hover {
                        svg {
                            transform: translateX(1rem);

                            @include minw($sm-tab) {
                                transform: translateX(3rem);
                            }
                        }
                    }
                }
            }

            &-user {
                display: flex;
                align-items: center;
                gap: 1.5rem;
                margin-top: 3rem;

                @include minw($sm-tab) {
                    margin-top: 4rem;
                    gap: 3.2rem;
                }

                @include minw($lg-tab) {
                    margin-top: 0;
                    gap: 2rem;
                }

                @include minw($pc) {
                    gap: 3.2rem;
                }

                &__wrap {
                    position: relative;

                    &__img {
                        position: relative;
                        z-index: 5;
                        width: 9rem;
                        height: 9rem;
                        border-radius: 50%;
                        overflow: hidden;
                        transition: $hover-trans;

                        @include minw($sm-tab) {
                            width: 20rem;
                            height: 20rem;
                        }

                        @include minw($lg-tab) {
                            width: 12rem;
                            height: 12rem;
                        }

                        @include minw($pc) {
                            width: 20rem;
                            height: 20rem;
                        }

                        picture,
                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            object-position: 0rem -2rem;

                            @include minw($sm-tab) {
                                object-position: 0rem -4rem;
                            }

                            @include minw($lg-tab) {
                                object-position: 0rem -2.5rem;
                            }

                            @include minw($pc) {
                                object-position: 0rem -4rem;
                            }
                        }

                        &:hover {
                            opacity: 0;
                        }
                    }

                    &__video {
                        position: absolute;
                        top: 0;
                        border-radius: 50%;
                        overflow: hidden;
                        width: 9rem;
                        height: 9rem;

                        @include minw($sm-tab) {
                            width: 20rem;
                            height: 20rem;
                        }

                        @include minw($lg-tab) {
                            width: 12rem;
                            height: 12rem;
                        }

                        @include minw($pc) {
                            width: 20rem;
                            height: 20rem;
                        }

                        video {
                            width: 9rem;
                            height: 9rem;
                            object-fit: cover;
                            object-position: 0rem -1rem;

                            @include minw($sm-tab) {
                                width: 20rem;
                                height: 20rem;
                                object-position: 0rem -3rem;
                            }

                            @include minw($lg-tab) {
                                width: 12rem;
                                height: 12rem;
                                object-position: 0rem -2rem;
                            }

                            @include minw($pc) {
                                width: 20rem;
                                height: 20rem;
                                object-position: 0rem -3rem;
                            }
                        }
                    }
                }

                &__desc {

                    .u-name,
                    .u-desc {
                        display: block;
                        font-size: 2.2rem;
                        line-height: 3.2rem;
                        color: var(--text-secondary);

                        @include minw($sm-tab) {
                            font-size: 3.2rem;
                            line-height: 4.8rem;
                        }

                        @include minw($lg-tab) {
                            font-size: 2.4rem;
                            line-height: 3.2rem;
                        }

                        @include minw($pc) {
                            font-size: 3.2rem;
                            line-height: 4.8rem;
                        }
                    }

                    .u-name {
                        font-family: $sentient-bold;
                    }

                    .u-desc {
                        font-family: $sentient-regular;
                    }
                }
            }
        }

        &__form {
            margin-top: 4rem;

            @include minw($sm-tab) {
                margin-top: 7rem;
                border: 0.2rem solid var(--text-primary);
                padding: 4rem;
            }

            @include minw($lg-tab) {
                margin-top: 8rem;
                display: flex;
                gap: 4rem;
                max-width: 110rem;
                margin-left: auto;
            }

            @include minw($pc) {
                gap: 10rem;
            }

            @include minw($xl) {
                margin-top: 10rem;
                max-width: 111rem;
            }

            &__desc {
                margin-bottom: 2rem;

                @include minw($sm-tab) {
                    margin-bottom: 3.5rem;
                }

                @include minw($lg-tab) {
                    max-width: 40.9rem;
                    margin-bottom: 0;
                }

                &__title {
                    display: block;
                    font-family: $boska-medium;
                    font-size: 4.2rem;
                    line-height: 4.2rem;
                    text-transform: uppercase;
                    color: var(--text-primary);

                    @include minw($sm-tab) {
                        font-size: 10rem;
                        line-height: 10rem;
                    }

                }

                &__subtitle {
                    display: block;
                    font-family: $sentient-regular;
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                    color: var(--text-secondary);
                    margin-top: 1rem;

                    @include minw($sm-tab) {
                        margin-top: 2rem;
                    }
                }
            }

            .form {
                @include minw($lg-tab) {
                    width: 100%;
                }

                .screen-reader-response {
                    display: none;
                }

                .invalid {
                    .wpcf7-response-output {
                        display: none;
                    }
                }

                &__item {
                    position: relative;

                    &:not(:last-child) {
                        margin-bottom: 1rem;
                    }

                    input {
                        padding-top: 0.8rem;

                        &:focus~.wpcf7-not-valid-tip {
                            display: none;
                        }
                    }

                    .wpcf7-not-valid {
                        border-bottom: 0.2rem solid var(--red);
                        color: var(--red);

                        &::placeholder {
                            color: var(--red);
                        }
                    }

                    .wpcf7-not-valid-tip {
                        position: absolute;
                        bottom: 0.6rem;
                        right: 0;
                        padding: 0.8rem;
                        background: var(--red);
                        color: var(--white);
                        border-radius: 0.4rem;
                        font-family: $apercu-pro-regular;
                        font-style: italic;
                        line-height: 2rem;
                    }
                }

                .btn__front,
                .btn__back {
                    font-size: 2rem;
                    padding: 1.6rem;

                    @include minw($sm-tab) {
                        padding: 2.4rem;
                    }
                }
            }
        }
    }
}